In [2]:
print("meu codigo no jupyter")

meu codigo no jupyter

In [8]:
import pandas as pd
tabela = pd.DataFrame({"Nome" : ["Ana", "Andressa", "Andrey"], "Idade" : [20, 49, 43], "Altura cm" : [1.60, 1.53, 1.80], "Massa muscular %" : [30, 40, 45]})
display(tabela)

       Nome  Idade  Altura cm  Massa muscular %
0       Ana     20       1.60                30
1  Andressa     49       1.53                40
2    Andrey     43       1.80                45